#home {
	width: 100%;
	height: 90vh;
	color: black;

	.carousel {
		color: white;
		height: 100%;
	}
	.img {
		object-fit: cover;
	}
	.carousel-inner,
	.carousel-item,
	.carousel-item img {
		height: 100%;
	}
	.carousel-caption {
		font-family: 'Pangolin', cursive;
		bottom: 100px;
	}
	.slide-2-caption {
		#transparent-button {
			margin: 20px auto;
			p {
				color: white;
			}
		}
	}
}

#home-contact {
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-image: url('../../assets/farmers.jpg');
	color: white;
	z-index: 5;

	h1 {
		font-size: 50px;
		margin: 100px 0;
	}
	span {
		font-size: 24px;
		display: block;
		margin: 10px;
	}

	.slide2-img {
		margin: 0 auto;
	}
}

.button-holder {
	width: 50%;
	margin-bottom: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	#transparent-button {
		p {
			color: white;
		}
	}
}

#home-contact-content {
	position: absolute;
	background-image: radial-gradient(at center center, #153243 0%, #1a6c7a 100%);
	opacity: 0.5;
	background-color: transparent;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#announcements {
	width: 100%;
	min-height: 100vh;
	padding: 50px 0;
	background-color: #dcd9d4;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
		radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
	background-blend-mode: soft-light, screen;

	#announcement-cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom: 1px solid black;

		div {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}

#announcement-content {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: center;
	h3 {
		font-size: 40px;
		margin: auto 0;
		flex: 1;
	}
	.para {
		border-left: 3px solid #1a6c7a;
		flex: 1;
		p {
			font-size: 24px;
		}
	}
	div {
		margin: 30px auto 0 auto;
	}
}
