#services {
	 width: 100%;
}
 #services h1 {
	 margin: 0;
}
 #services h2 {
	 margin: 0;
	 font-size: 40px;
}
 #services h3 {
	 margin: 0;
	 font-size: 30px;
}
 #services #services-head {
	 color: white;
	 text-align: center;
	 position: relative;
	 background-image: url('../../assets/handshake.png');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
 #services #services-head h1 {
	 font-size: 60px;
	 padding: 150px;
}
 #services #services-back {
	 position: absolute;
	 background-image: radial-gradient(at center center, #153243 0%, #1a6c7a 100%);
	 opacity: 0.5;
	 background-color: transparent;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
 #services #services-info #services-table {
	 text-align: center;
	 width: 100%;
	 margin: 20px 0;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 #services #services-info h1 {
	 font-size: 45px;
	 margin: 50px 0;
}
 #services #services-info .filters {
	 width: 100%;
	 margin: 25px;
}
 #services #services-info .filters .filter {
	 display: inline-block;
	 margin: 20px;
	 font-size: 26px;
}
 #services #services-info .filters .filter input {
	 font-size: 20px;
	 border: 2px solid #eaeaea;
	 margin: 0 20px;
	 padding: 5px;
	 transition: all 0.2s ease;
}
 #services #services-info .filters .filter input:focus {
	 border: 2px solid #1a6c7a;
}
 #services #services-info .table {
	 display: flex;
	 flex-direction: column;
	 text-align: center;
	 width: 90%;
}
 #services #services-info .table .table-head {
	 display: flex;
	 justify-content: space-evenly;
	 margin: 10px;
	 background-color: #b8e3eb;
}
 #services #services-info .table .table-head h2 {
	 width: 20%;
	 margin: 10px;
}
 #services #services-info .table .table-body {
	 width: 100%;
}
 #services #services-info .table .table-body .table-row {
	 display: flex;
	 justify-content: space-evenly;
	 width: 100%;
	 margin: 10px 0;
	 background-color: #e4e4e4;
}
 #services #services-info .table .table-body .table-row .table-data {
	 width: 20%;
	 margin: 15px 10px;
}
 #services #services-info .service {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
}
 #services #services-info .service .text {
	 margin: 0 70px;
}
 #services #services-info .service .text h3, #services #services-info .service .text p {
	 margin: 10px 0;
}
 #services #services-info .service .text .button {
	 margin: 70px 0 0;
}
 #services #services-info .service .text .button a {
	 color: #1a6c7a;
}
 #services #services-info .service .text .button:hover a {
	 color: white;
}
 #services #services-info .service .img {
	 margin: 50px 70px;
	 background-size: cover;
	 background-position: center;
	 height: 400px;
	 width: 100%;
}
 