#contact {
	 width: 100%;
}
 #contact h1 {
	 margin: 0;
}
 #contact h2 {
	 margin: 0;
	 font-size: 40px;
}
 #contact h3 {
	 margin: 0;
	 font-size: 30px;
}
 #contact #contact-info {
	 margin: 20px;
	 display: flex;
	 justify-content: space-evenly;
}
 #contact #contact-info p {
	 display: block;
}
 #contact #contact-info #get-in-touch {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-evenly;
}
 #contact #contact-form {
	 padding: 20px;
}
 #contact #contact-form form input {
	 display: block;
	 font-size: 20px;
	 width: 100%;
	 border: 1px solid #eaeaea;
	 margin: 40px 15px;
	 padding: 5px;
	 transition: all 0.3s ease;
}
 #contact #contact-form form input:focus {
	 border: 1px solid #1a6c7a;
}
 #contact #contact-form form #solid-button {
	 margin: 0 auto;
}
 #contact #contact-form #contact-btn {
	 width: 200px;
	 padding: 15px;
	 text-align: center;
	 transition: all 0.3s ease;
	 font-size: 18px;
	 box-shadow: none;
	 color: #1a6c7a;
	 background-color: white;
}
 #contact #contact-form #contact-btn:hover {
	 background: #1a6c7a;
	 border: 2px solid #1a6c7a;
	 color: white;
}
 #contact-back {
	 position: absolute;
	 background-image: radial-gradient(at center center, #153243 0%, #1a6c7a 100%);
	 opacity: 0.5;
	 background-color: transparent;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
 #contact-head {
	 color: white;
	 text-align: center;
	 position: relative;
	 background-image: url('../../assets/phone.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: bottom center;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
 #contact-head h1 {
	 font-size: 60px;
	 padding: 150px;
}
 #map {
	 overflow: hidden;
	 height: 500px;
	 margin: 20px 0 0 50px;
}