#ferti-main {
	 width: 100%;
}
 #ferti-main h1 {
	 margin: 0;
}
 #ferti-main h2 {
	 margin: 0;
	 font-size: 40px;
}
 #ferti-main h3 {
	 margin: 0;
	 font-size: 30px;
}
 #ferti-main #ferti-head {
	 color: white;
	 text-align: center;
	 position: relative;
	 background-image: url('../../assets/fertilizer-back.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 width: 100%;
	 height: 80vh;
	 z-index: -1;
}
 #ferti-main #ferti-head h1 {
	 font-size: 60px;
	 padding: 150px;
}
 #ferti-main #ferti-back {
	 position: absolute;
	 background-image: radial-gradient(at center center, #153243 0%, #1a6c7a 100%);
	 opacity: 0.5;
	 background-color: transparent;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
 #ferti-main #ferti-info .ferti {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
}
 #ferti-main #ferti-info .ferti .text {
	 margin: 50px 70px;
}
 #ferti-main #ferti-info .ferti .text h3, #ferti-main #ferti-info .ferti .text p {
	 font-size: 26px;
	 display: block;
	 margin: 20px 0;
}
 #ferti-main #ferti-info .ferti .text h3 {
	 font-weight: 500;
	 margin: 30px 100px;
}
 #ferti-main #ferti-info .ferti .text ul li {
	 margin: 20px 100px;
}
 #ferti-main #ferti-info .ferti .text span {
	 font-size: 26px;
	 font-weight: 800;
	 display: block;
}
 #ferti-main #ferti-info .ferti .text .button {
	 margin: 70px 0 0;
}
 #ferti-main #ferti-info .ferti .text .button a {
	 color: #1a6c7a;
}
 #ferti-main #ferti-info .ferti .text .button:hover a {
	 color: white;
}
 #ferti-main #ferti-info .ferti .img {
	 margin: 50px 70px;
	 background-size: cover;
	 background-position: center;
	 height: 400px;
	 width: 100%;
}
 