#hotel {
	 width: 100%;
}
 #hotel h1 {
	 margin: 0;
}
 #hotel h2 {
	 margin: 0;
	 font-size: 40px;
}
 #hotel h3 {
	 margin: 0;
	 font-size: 30px;
}
 #hotel #hotel-head {
	 color: white;
	 text-align: center;
	 position: relative;
	 background-image: url('../../assets/foodtray.jpeg');
	 background-repeat: no-repeat;
	 background-size: cover;
	 width: 100%;
	 height: 90vh;
	 z-index: -1;
}
 #hotel #hotel-head h1 {
	 position: absolute;
	 font-size: 60px;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 #hotel #hotel-back {
	 position: absolute;
	 background-image: radial-gradient(at center center, #153243 0%, #1a6c7a 100%);
	 opacity: 0.5;
	 background-color: transparent;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
 #hotel #hotel-content {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
}
 #hotel #hotel-content #hotel-text {
	 margin: 50px 70px;
}
 #hotel #hotel-content #hotel-text h1 {
	 font-size: 60px;
}
 #hotel #hotel-content #hotel-text h3, #hotel #hotel-content #hotel-text p {
	 display: block;
	 margin: 10px 0;
}
 #hotel #hotel-content #hotel-text .button {
	 margin: 70px 0 0;
}
 #hotel #hotel-content #hotel-text .button a {
	 color: #1a6c7a;
	 text-decoration: none;
}
 #hotel #hotel-content #hotel-text .button:hover a {
	 color: white;
}
 #hotel #hotel-content .img {
	 margin: 50px 70px;
	 background-size: cover;
	 background-position: center;
	 height: 400px;
	 width: 100%;
}
 #hotel #hotel-form {
	 border: 2px solid black;
	 margin: 10px 25px;
	 border-radius: 10px;
	 padding: 20px;
}
 #hotel #hotel-form .veggies-input {
	 display: block;
	 font-size: 20px;
	 width: 100%;
	 border: 1px solid #eaeaea;
	 margin: 40px 10px;
	 padding: 5px;
	 transition: all 0.3s ease;
}
 #hotel #hotel-form .veggies-input:focus {
	 border: 1px solid #1a6c7a;
}
 #hotel #hotel-form #checkbox {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
}
 #hotel #hotel-form #checkbox #checkbox-left > .veggies, #hotel #hotel-form #checkbox #checkbox-right > .veggies {
	 display: flex;
	 align-items: center;
	 margin: 10px 20px;
}
 #hotel #hotel-form #checkbox #checkbox-left > .veggies .veggies-checkbox, #hotel #hotel-form #checkbox #checkbox-right > .veggies .veggies-checkbox {
	 margin-right: 20px;
}
 #hotel #hotel-form #checkbox #checkbox-left > .veggies label, #hotel #hotel-form #checkbox #checkbox-right > .veggies label {
	 margin: 0;
}
 #hotel #hotel-form .add-veggie {
	 margin-top: 30px;
	 margin-bottom: 50px;
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
}
 #hotel #hotel-form .add-veggie .remove-btn {
	 margin-left: 10px;
}
 #hotel #hotel-form #hotel-btn {
	 width: 200px;
	 padding: 15px;
	 border: 2px solid black;
	 border-radius: 10px;
	 text-align: center;
	 transition: all 0.3s ease;
	 font-size: 18px;
	 box-shadow: none;
	 color: #1a6c7a;
	 background-color: white;
}
 #hotel #hotel-form #hotel-btn:hover {
	 background: #1a6c7a;
	 border: 2px solid #1a6c7a;
	 color: white;
}
 #hotel #end-contact {
	 margin-top: 20px;
	 margin-bottom: 20px;
	 margin-left: 30px;
}
 #hotel #end-contact #solid-button {
	 margin-left: 20px;
}
 