#consumer-main {
	 width: 100%;
}
 #consumer-main h1 {
	 margin: 0;
}
 #consumer-main h2 {
	 margin: 0;
	 font-size: 40px;
}
 #consumer-main h3 {
	 margin: 0;
	 font-size: 30px;
}
 #consumer-main #consumer-head {
	 position: relative;
	 background-image: url('../../assets/consumer.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 width: 100%;
	 height: 90vh;
	 z-index: -1;
}
 #consumer-main #consumer-head h1 {
	 font-size: 60px;
}
 #consumer-main #consumer-back {
	 position: absolute;
	 opacity: 0.5;
	 background-color: transparent;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
}
 #consumer-main #consumer-info {
	 margin: 20px 50px;
}
 #consumer-main #consumer-info form {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 padding: 50px;
}
 #consumer-main #consumer-info form input {
	 display: block;
	 font-size: 20px;
	 width: 70%;
	 border: 1px solid #eaeaea;
	 border-radius: 10px;
	 margin: 20px 0 40px 0;
	 padding: 5px;
	 transition: all 0.3s ease;
}
 #consumer-main #consumer-info form input:focus {
	 border: 1px solid #1a6c7a;
	 border-radius: 10px;
}
 #consumer-main #consumer-info form .button {
	 color: #1a6c7a;
	 background: white;
	 margin: 10px;
	 border: 2px solid grey;
}
 #consumer-main #consumer-info form .button p {
	 margin: 0 20px;
	 color: #1a6c7a;
}
 #consumer-main #consumer-info form .button:hover {
	 background: #1a6c7a;
}
 #consumer-main #consumer-info form .button:hover p {
	 color: white;
}