@media screen and (max-width: 1024px) {
  #burger {
    display: inline-block;
    margin-top: 10px;
  }
  #nav-links {
    position: fixed;
    min-height: 92vh;
    width: 100%;
    top: 8vh;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease-out;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 100% -20%);
    pointer-events: none;
  }
  #nav-links li {
    font-size: 30px;
  }
  #nav-links.open {
    top: 8vh;
    min-height: 92vh;
    margin: 0;
    padding: 0;
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  #announcement-cards {
    flex-direction: column;
  }
  #announcement-content {
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    align-items: center;
  }
  #announcement-content h3 {
    font-size: 40px;
    flex: 1;
  }
  #announcement-content .para {
    border: none;
    flex: 1;
  }
  #home h2,
  #home h1 {
    margin: 50px 0;
  }
  #home-contact h1 {
    font-size: 50px;
    margin: 100px 0;
  }
  .button-holder {
    flex-direction: column;
    margin-bottom: 50px;
  }
  #about #about-head h1 {
    font-size: 40px;
    padding: 150px 20px;
  }
  #about #card {
    width: 350px;
    height: 250px;
  }
  #about #about-info {
    display: flex;
    flex-direction: column;
  }
  #about #about-info #about-info-head {
    border: 0;
  }
  #about #about-info #about-info-head h1 {
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0;
  }
  #about #about-info #about-info-para {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #about #about-info #about-info-para P {
    width: 100%;
  }
  #about #about-missions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #about #about-missions .mission {
    padding: 0;
    margin: 50px;
  }
  #contact #contact-head h1 {
    font-size: 40px;
    padding: 150px 50px;
  }
  #contact #contact-info {
    display: flex;
    flex-direction: column;
  }
  #contact #contact-info #get-in-touch {
    padding-bottom: 35px;
    border-bottom: 1px solid black;
  }
  #contact #contact-info #get-in-touch div {
    margin: 10px;
  }
  #contact #contact-info h2 {
    margin: 20px 0;
  }
  #contact #contact-info h3 {
    font-size: 18px;
  }
  #contact #contact-form {
    padding: 10px;
    border-bottom: 1px solid black;
  }
  #contact #contact-form form input {
    margin: 40px 0;
    width: 80%;
  }
  #contact #map {
    margin: 20px 0 0 10px;
  }
  #services #services-head h1 {
    font-size: 40px;
    padding: 150px 50px;
  }
  #services #services-info .service {
    flex-direction: column;
    border-bottom: 1px solid black;
  }
  #services #services-info .service .img {
    height: 250px;
    width: 85%;
  }
  #services #services-info .service:last-child {
    border: none;
  }
  #commodities #commodities-head h1 {
    font-size: 40px;
    padding: 150px 50px;
  }
  #commodities #commodities-info #table #table-head h2 {
    font-size: 24px;
  }
  #commodities #commodities-info #table #table-body .table-row .table-data {
    font-size: 15px;
    margin: 10px 2px;
  }
}
@media screen and (max-width: 500px) {
  #home h2,
  #home h1 {
    margin: 15px 0;
  }

  #home .slide-2-caption {
    width: 200px;
    font-size: 10px;
  }

  #home .slide-3-caption {
    width: 200px;
    font-size: 20px;
    top: auto;
    bottom: 0;
    left: 20px;
    margin-bottom: 0;
  }

  #map {
    margin: 20px 0 0 10px;
  }
}
